<!DOCTYPE html>
{% extends "Optracker/base.html"  %}
  <!-- {% load widget_tweaks %} -->
  {% block body_block %}
        <p></p>
        <p></p>
        <h2 align="center"> <u> Innovative Ideas Form</u></h2>
        <p></p>
        <p></p>
        <p></p>
        <p></p>
      <form method="POST">
        {% csrf_token %}
      {% for field in form.visible_fields %}
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">{{ field.label_tag }}</label>
             <div class="col-sm-10">
               {{ field.errors }}
               {% if field.name not in exclude_list %}
                   {% render_field field class="form-control"  %}
               {% elif field.name == mail_field %}
                   <div class="input-group-prepend">
                       <span class="input-group-text" id="inputGroupPrepend2">@</span>
                       {% render_field field class="form-control"  %}
                   </div>
               {% else %}
                   {% render_field field class="form-control" rows="3" %}
               {% endif %}
               {{ field.help_text }}
             </div>
           </div>
         {% endfor %}
         <!-- {{ form.as_p }} -->
  {% endblock %}
